<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            allGoods = []
            $('#wb').click(function () {
                $.ajax({
                    url : "/target",
                    success : function (json) {
                        for (i=0; i<JSON.parse(json.goods)[JSON.parse(json.goods).length - 1].pk; i++){
                            allGoods.push(JSON.parse(json.goods)[i].fields)
                        }
                        console.log(allGoods)
                    },
                    error : function () {
                        alert('ajax 오류!')
                    }
                })
            })
        })
    </script>
</head>
<body>
<hr>
<button id="wb">AJAX Test</button>
<div></div>
</body>
</html>