<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript">
$(function() {
    $('button').click(function() {
        payValue = parseInt($('#price').val()) * parseInt($('#count').val())
        var IMP = window.IMP; // 생략가능
        IMP.init('iamport'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        IMP.request_pay({
            pg : 'inicis', // version 1.1.0부터 지원.
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : $('#field').val(),
            amount : payValue,
            buyer_email : $('#email').val(),
            buyer_name : $('#userName').val(),
            buyer_tel : $('#contact').val(),
            buyer_addr : '서울특별시 강남구 삼성동',
            buyer_postcode : '123-456',
            m_redirect_url : 'www.yourdomain.com/payments/complete'
        }, function(rsp) {
            if ( rsp.success ) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });

    })
})
</script>
</head>
<body>
물건의 종류(신발/휴대폰/커피 중 선택): <input id="field" value="신발"><br>
구매자 이름: <input id="userName" value="홍길동"><br>
구매자 연락처: <input id="contact" value="010-4914-2996"><br>
구매자 이메일: <input id="email" value="acllifiw@naver.com"><br>
하나당 가격: <input id="price" value="1000"><br>
물건의 개수: <input id="count" value="5"><br>
<button type="button">결제하기</button>
</body>
</html>
