<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title>Google Map</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
</head>
<body>
   <div id="map" style="width: 100%; height: 100vh;"></div>
   <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=키입력"></script>
   <script>
       var map;

       function initMap() {

           //37.5705805429368, 126.99212654046664
           comments = ['종로3가역',  '신촌역 이마트', '도봉산']
           lats = {{ lats }}
           lngs = {{ lngs }}

           map = new google.maps.Map(document.getElementById('map'), {
               zoom : 12,
               center : {
                       lat : 37.5642135,
                       lng : 127.0016985
                   }
           });

           for (var i = 0; i < 3; i++) {
               var site = {
                   lat : lats[i],
                   lng : lngs[i]
               };


               new google.maps.Marker({
                   position : site,
                   map : map,
                   label : comments[i]
               });
           }
       }
   </script>
</body>
</html>