@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-light {
    height: 80px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir';
}

.container-fluid {
    padding-top: 6px;
    position: fixed;
    background: #FFF;
    border-bottom: 1px solid #dedede;
    width: 100%;
    height: 75px;
    margin-top: -10px;
    z-index: 2;
}

nav > div > a {
    line-height: 50px;
    text-align: center;
    padding: 0 0 0 7%;
}

#auth {
    padding: 0 3% 0 0;
}

#auth > a {
    text-decoration-line: none;
    color: black;
    padding-right: 15px;
}

table {
    margin-top: 10px;
    width: auto;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tr {
    font-family: 'Cafe24SsurroundAir'
}

td {
    padding: 30px;
}

#logo {
    font-family: 'Cafe24SsurroundAir';
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.footer_dropdown {
    margin-left: 4.6%;
}

#dropdownMenuLink {
    padding-top: 6px;
    width: 67px;
    background: white;
    border: white;
    color: #333;
    font-size: 13px;
}

.container {
    font-size: small;
}

.card-body {
    padding: 16px 16px 0 17px;
}

.card-title {
    -webkit-box-direction: normal;
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
    transition: opacity .1s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.btn {
    margin: 1px;
    padding: 7px 0 0 0;
    width: 60px;
    height: 30px;
    font-size: 12px;
}

.mood {
    width: 38px;
    height: 30px;
}

.category {
    width: 97.8%;
}

@media screen and (max-width: 500px) {
    .pc-menu {
        visibility: hidden;
        display: none;
    }

    .menu {
        margin: auto;
    }

    #bx-id {
        display: none;
    }

    .bx-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }

    #carouselExampleCaptions {
        display: block;
    }

    .nav {
        height: 50px;
        padding: 0 4% 0 4%;
    }

    .nav-link {
        font-size: 0.78rem;
    }

    .row > .col {
        padding: 12px 0 0 0;
    }

    .card {
        width: 161px;
        border: white;
        margin: auto;
    }

    .card-img-top {
        width: 161px;
        height: 161px;
    }

    .heart {
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        width: 35px;
        height: 30px;
        position: absolute;
        bottom: 46%;
        right: 5%
    }
}

@media screen and (min-width: 500px) {
    .menu {
        display: none;
    }

    #carouselExampleCaptions {
        display: none;
    }

    #bx-id {
        display: block;
    }

    .bx-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }

    .nav {
        height: 50px;
        padding: 0 15% 0 15%;
    }

    footer {
        margin: 0 10% 0 10%;
        padding-left: 2%;
    }

    .row > .col {
        padding: 12px 0 0 0;
    }

    .card {
        width: 260px;
        border: white;
        margin-bottom: 20px;
    }

    #card-top {
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        height: 260px;
        object-fit: cover;
        transform: scale(1.0);
        transition: transform .2s;
    }

    .card-img-top:hover { /* 마우스 호버시 */
        transform: scale(1.1); /* 이미지 확대 */
        transition: transform .2s; /*  시간 설정  */
    }

    .heart {
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        width: 35px;
        height: 30px;
        position: absolute;
        bottom: 35%;
        right: 5%
    }
}

.red {
    fill: rgba(255, 69, 0, 1);
}

.white {
    fill: rgba(255, 255, 255, 0.7);
    stroke: white;
}

.red:hover {
    fill: rgba(255, 69, 0, 0.7);
}

.white:hover {
    fill: rgba(255, 255, 255, 0.5);
}

.dropdown-item {
    width: 100%;
}

.recommend {
    display: block;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    font-family: Cafe24SsurroundAir;
}

.carousel-item {
    position: relative;
    padding-bottom: 10px;
}

.reco_img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.img-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}